body{
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: #fff;
}
.page-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 5px solid rgb(65, 62, 62);
    padding: 15px;
}
.logo {
  width: 20%;
  height: auto;
  border: 4px solid rgb(252, 122, 0);
}
.menu{
    width: 20%;
    height: auto;
    border: 4px solid rgb(252, 122, 0);
}
.contakt{
    width: 25%;
    height: auto;
    border: 4px solid rgb(252, 122, 0);
    text-align: end;
}
.contakt a {
    color: rgb(252, 122, 0);
    font-size: 14px;
}
.skills{
    height: auto;
    width: 30%;
    border-right: solid 2px rgb(252, 122, 0);
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
    padding: 2px;
    margin-top: 5px;
}
.test{
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
    padding: 5px;
}
.skills:hover{
    background-color:rgb(252, 122, 0);
}
.test:hover{
    background-color: rgb(56, 55, 55);
}
.skills .test dd{
    border: solid 2px rgb(35, 177, 243);
    background-color: rgb(15, 169, 230);
    border-radius: 15px;
    margin:5px 0 5px 0;
    height: 5px;
}
.light-theme{
    color: rgb(6, 255, 6);
}
.dark-theme{
    color: rgb(177, 68, 255);
}
main {
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(65, 62, 62);
    padding: 15px;
}
.email-user{
    height: auto;
    width: 30%;
    border-right: solid 2px rgb(252, 122, 0);
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px;
}